.container{
    max-width: 100%;
    margin-inline: auto;
    z-index: 1;
    position: relative;
}

.glassBg{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    border-radius: 15px;
    margin-bottom: 20px;
}